$tooltip: (
  'container': '.tooltip',
  'bg': rgba(#000, 0.75),
  'arrow': 10,
);

#{map-get($tooltip, 'container')} {

  &Front {

    background-color: rgba(lightgreen, 0.75);

    &--primitive,
    &--inline {

      display: inline-block;

    }

    &--composite {}

  }

  &Back {

    #{map-get($tooltip, 'container')}Front > & {

      display: none;
      opacity: 0;
      pointer-events: none;
      backface-visibility: hidden;

    }

    position: fixed;
    background-color: map-get($tooltip, 'bg');
    padding: 10px;
    color: #fff;
    left: 0;
    top: 0;
    min-width: 150px;
    transition: all 0s ease 0s;

    &-arrow {

      position: absolute;
      top: -#{map-get($tooltip, 'arrow')}px;
      left: 0;
      width: 0;
      height: 0;
      border-left: #{map-get($tooltip, 'arrow')}px solid transparent;
      border-right: #{map-get($tooltip, 'arrow')}px solid transparent;
      border-bottom: #{map-get($tooltip, 'arrow')}px solid map-get($tooltip, 'bg');
      transition: all 0s ease 0s;

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--top & {

        left: 50%;
        top: 100%;
        transform: translate3d(-50%, 0, 0) rotateZ(180deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--topLeft & {

        left: 100%;
        top: 100%;
        transform: translate3d(-100%, 0, 0) rotateZ(180deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--topRight & {

        left: 0;
        top: 100%;
        transform: translate3d(0, 0, 0) rotateZ(180deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--bottom & {

        left: 50%;
        transform: translate3d(-50%, 0, 0);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--bottomLeft & {

        left: 100%;
        transform: translate3d(-100%, 0, 0);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--bottomRight & {

        left: 0;
        transform: translate3d(0, 0, 0);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--left & {

        left: 100%;
        top: 50%;
        transform: translate3d(-25%, -50%, 0) rotateZ(90deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--leftTop & {

        left: 100%;
        top: 100%;
        transform: translate3d(-25%, -150%, 0) rotateZ(90deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--leftBottom & {

        left: 100%;
        top: 0;
        transform: translate3d(-25%, 50%, 0) rotateZ(90deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--right & {

        left: 0;
        top: 50%;
        transform: translate3d(-75%, -50%, 0) rotateZ(-90deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--rightTop & {

        left: 0;
        top: 0;
        transform: translate3d(-75%, 50%, 0) rotateZ(-90deg);

      }

      #{map-get($tooltip, 'container')}Back#{map-get($tooltip, 'container')}Back--rightBottom & {

        left: 0;
        top: 100%;
        transform: translate3d(-75%, -150%, 0) rotateZ(-90deg);

      }

    }

  }

}
