extends layout/body

include ./demo/mixins

block seo
    +opengraph({
        'title': 'Демки',
        'description': 'Демки',
    })

block body
    .wrap.lozad(data-background-image= PATH_IMG + 'body-main-bg-blur.png')

        .wrap-header
            .container
                | Header
                i.fa.fa-eye
        .wrap-body
            .container

                +Row('SVG image with tag <svg>')
                    svg
                        use(xlink:href='#google-play')


                +Row('SVG image with tag <img>')
                    img(src= PATH_SVG + 'recording.svg')


                +Row('SVG image with CSS background-image')
                    .logo


                +Row('Tooltip')
                    .tooltipFront.tooltipFront--inline(event='click')
                        | tooltip with click<br />
                        | tooltip2<br />
                        i.fa.fa-eye
                        | tooltip<br />
                        | tooltip<br />
                        .tooltipBack
                            h2 Some title
                            p A very big content of tooltip
                            p A very big content of tooltip
                            p A very big content of tooltip
                            p A very big content of tooltip
                            p A very big content of tooltip
                            p A very big content of tooltip


                +Row('Tab / Slider')
                    .tab
                        .toolbar
                            .toolbar-item
                                .tabMenu
                                    a(href= '#link1').tabMenu-item.tabMenu-item--active link1
                                    a(href= '#link2').tabMenu-item link2
                                    a(href= '#link3').tabMenu-item link3
                                    a(href= '#link4').tabMenu-item link4
                            .toolbar-item
                                .tabMenu
                                    a(href= '#prev').tabMenu-button prev
                                    a(href= '#next').tabMenu-button next
                        .tabContent
                            .tabContent-item(data-tab= 'link1').tabContent-item--active
                                | content1
                            .tabContent-item(data-tab= 'link2')
                                | content2
                                | content2 <br />
                                | content2 <br />
                                | content2 <br />
                                | content2 <br />
                                | content2
                            .tabContent-item(data-tab= 'link3')
                                | content3<br />
                                img(src= PATH_IMG + 'recording.svg')
                                | content3<br />
                                | content3
                            .tabContent-item(data-tab= 'link4')
                                | content3<br />
                                | content3<br />
                                | content3<br />
                                | content3<br />
                                .fuck
                                | content3<br />
                                | content3<br />
                                | content3<br />
                                | content3


                +Row('ScrollTo')
                    | Test page
                    - for(var i = 0; i < 5; i++) {
                    | Test level<br />
                    -}
                    a(href= '#link1').link link1
                    a(href= '#link2').link link2
                    a(href= '#link3').link link3
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    - for(var i = 0; i < 100; i++) {
                    | Test level<br />
                    -}
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    #link1 target1
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    - for(var i = 0; i < 100; i++) {
                    | Test level<br />
                    -}
                    .scrolly My element
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    #link2 target2
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    - for(var i = 0; i < 100; i++) {
                    | Test level<br />
                    -}
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    #link3 target3
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}
                    - for(var i = 0; i < 100; i++) {
                    | Test level<br />
                    -}
                    - for(var i = 0; i < 10; i++) {
                    | <br />
                    -}

        .wrap-footer
            .container
                | Footer