extends layout/body

block seo
    +opengraph({
        'title': 'Главная страница',
        'description': 'Описание главной страницы',
    })

block body
    .wrap.lozad(data-background-image= options.images.path + 'body-main-bg-blur.png')

        .wrap-header
            .container
                | Header

        .wrap-body
            .container
                | Body
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
                | Body
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
                .scrolly My element
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
                | Body
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
                | Body
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
                | Body
                - for(var i = 0; i < 20; i++) {
                | <br />
                -}
        .wrap-footer
            .container
                | Footer





